@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #002a7e;
  color: #78a4fc
}

h2 {
  font-size: 2em;
  margin: 20px;
  margin-top: 30px;
}

.numeros{
  margin: 120px;
  color: #7ea9fe;
}

span{
  font-size: 4rem;
}

.div{
  background: rgb(10, 8, 141);
  border-radius: 50px;
  box-shadow: 0px 0px 50px black;
  padding: 20px;
}

button {
  border-radius: 100px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2663dc;
  cursor: pointer;
  margin: 20px;
  padding: 1em 40px;
  
}

.buttons{
  margin-bottom: 20px;
}


